#buttons-container {
    display: flex;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: white;
    border-bottom: 1px solid #000000;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 10px;
    padding-top: 50px;
    padding-bottom: 20px;
}

#buttons-container button {
    width: 200px;
}