#header__buttons {
    display: flex;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 1;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 10px;
    padding-top: 3px;
    transition-duration: 1s;
    background-color: #00ffff00;
}

#header__buttons button {
    width: 200px;
    font-size: 1.6rem;
}

#header__buttons a {
    height: 100%;
}

@media (max-width: 974px) {

    #header__buttons button {
        width: 100%;
        font-size: 1.3rem;
    }

}

@media (max-width: 525px) {

    #header__buttons {
        gap: 1px;
    }

    #header__buttons button {
        width: 100%;
        font-size: 0.8rem;
    }
}