.hidden{
    display: none;
}

#presentation__profile-container{
    display: flex;
    height: 510px;
}

#presentation__image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding-top: 55px;
}

#presentation__profile-picture{
    width: 400px;
    height: auto;
    border: 4px solid black;
}

#presentation__right-container{
    width: 100%;
}

#presentation__ballon-left-first-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#presentation__ballon-left-first{
    animation-delay: 0.5s;
}

.presentation__ballon-right-container{
    display: flex;
    align-items: center;
    justify-content: end;
}

#presentation__ballon-right{
    animation-delay: 0s;
}

#presentation__ballon-left-second{
    animation-delay: 1s;
}