#container-skills{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#skills-title{
    display: flex;
}

#container-tools img{
    width: 50px;
}

#container-images{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}