
#skills__container-skills {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.skills__nes-container{
    transition-duration: 1s;
}

#skills__title {
    display: flex;
    font-size: 20px;
    transition-duration: 1s;
}

#skills__first-container {
    display: flex;
    flex-direction: column;
}

#skills__icons-container{
    display: flex;
    justify-content: space-between;
}

.skills__container-tools img {
    height: 50px;
}

.skills__container-images {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    align-items: center;

}

.skills__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}