* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    transition-duration: 1s;
    overflow-x: hidden;
}

#root {
    display: flex;
    width: 1040px;
    height: 100%;
    padding-left: 4px;
    padding-right: 2px;
    flex-direction: column;
    gap: 30px;
}

.text-dark-theme {
    color: white;
    transition-duration: 1s;
}

@media (max-width: 974px) {

    body {
        width: 99%;
    }
}

@media (max-width: 1040px) {
    #root {
        width: 100vw;
    }
}